/*---------------------
 Styles
---------------------*/
html {
	font-size: 110%;	}

body {
	margin: auto 0;
	font-family: arial;
	background-image: url(./img/mining-excavator-1736293_1920.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	}

a {
	font-size: 1em;
	color: white;
	text-decoration: none;	}

.zone:hover {
	-moz-box-shadow: 1px 1px 1px 1px #343a40;
	-ms-box-shadow: 1px 1px 1px 1px #343a40;
	-webkit-box-shadow: 1px 1px 1px 1px #343a40;
	-o-box-shadow: 1px 1px 1px 1px #343a40;
	box-shadow: 1px 1px 1px 1px #343a40;
	opacity: 1;	}

.stickyTop {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;	}
.mainNav {
	display: flex;
	list-style: none;
	margin: 0;
	background-color: #555;
	opacity: 0.85;	}
ul {
  display: inline;
  margin: 20px;
  padding: 0px;	}
li {
	padding: 20px;	}
.nav-Link {
	transition: all 0.2s;	}
.nav-Link:hover {
	color: orange;	}
.pushLeft {
	margin-left: auto;	}


/* iPhone X ----------- */
/*@media only screen 
	and (min-device-width: 375px) 
	and (max-device-height: 812px) 
	and (orientation : landscape) 
	and (-webkit-device-pixel-ratio: 2) {
		html {
			-ms-text-size-adjust: none;
			-webkit-text-size-adjust: none;	}
		.nav-Link {
			font-size: 1em; }
	}*/

/*---------------------
 Heading
---------------------*/
.mainPicture {
	height: 30vh;  /*will be 25% of the viewport height (window/browser)*/
}
.greet {
	color: #b3ffe6;
	margin-left: 20px;	}
/*---------------------
Current News
---------------------*/
.news {
	color: #b3ffe6;
	text-align: center;
	padding: 5px 5px 5px 5px;
	border border-radius: 10px;	}
.news-grid {
	display: grid;
	align-items: center;
	grid-column-gap: 8px;
	grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));	}

/*---------------------
Success Story
---------------------*/
.s-story {
	text-align: center;
	color: #b3ffe6;	}
.s-grid {
	display: flex;
	justify-content: center;
	align-content: center; 
	grid-auto-flow: column;	}

/*---------------------
 Content
---------------------*/
.grid-wrap {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(375px, 2fr));
}
.box > img {
	width: 100%;
}
.box {
	background-color: #343a40;
	opacity: 0.8;
	padding: 50px;
	margin: 15px;
	border: none;
	border-radius: 15px;
}
footer {
	text-align: right;
	color: white;
	font-family: script;
	font-style: italic;
	background-color: #000000;
	opacity: 0.7;
	margin-right: 20px;
}
